 
        @import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Kelly+Slab&family=Salsa&family=Vast+Shadow&display=swap');
        .service{
            min-height: 100vh;
        }
        .service .service-container{
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        .service .service-container .service-box{
            height: 300px;
            width: 300px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.3);
            border-left: 8px solid orangered ;
            border-right: 8px solid orangered ;
            border-radius: 8px;
            text-align: center;
            padding-top: 40px;
            margin: 10px 30px;
        }
        .service .service-container .service-box .fas,.service .service-container .service-box .fab{
            color: orangered;
            font-size: 50px;
        }

        .service .service-container .service-box p{
            font-size: 30px;
            font-weight: 300;
            color: #2f2f2f;
            margin: 30px 0;
            /* font-family: 'Fredericka the Great', cursive; */
            /* font-family: 'Kelly Slab', cursive; */
            /* font-family: 'Vast Shadow', cursive; */
            font-family: 'Salsa', cursive;
        }
